@import "tailwindcss";
@import "@fontsource-variable/inter/wght.css";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

body {
  -webkit-user-select: none;
}

@theme {
  --color-bg: #121212;
  --color-text: #f5f5f5;
  --color-nav-bg: #1a1a1a;
  --color-nav-text: #f5f5f5;
  --color-button-nav-hover: #2e2e2e;
}

:root.light {
  --color-bg: #ededed;
  --color-text: #2b2b2b;
  --color-nav-bg: #d8d8d8;
  --color-nav-text: #2b2b2b;
  --color-button-nav-hover: #c8c8c8;
}
